@{
    Style.Require("PIParty").AtFoot();
}

<div class="col-sm-12">
    <div class="text-center not-authorised-img">
    </div>
    <div class="text-center spacer-top-30">
        <h3>
            You don't have permission to view this page.Please contact administrator.
        </h3>
    </div>
</div>